*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 1440px;
    height: 150px;
    background: radial-gradient(100% 8419.2% at 11.63% 34.67%, #9FEAD7 0%, #CEF8ED 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px -4px 30px 3px rgba(56, 56, 56, 0.25);
}
.header img{
    position: absolute;
    width: 104px;
    height: 38px;
    left: 80px;
    top: 56px;
}
.content{
    width: 100%;
    padding: 20px;
}
.sidebar{
    width: 277px;
    height: 874px;
    position: fixed;
    top: 150px;
    background: #DBFFF6;
}
.sidebar ul{
    list-style: none;
}
.sidebar ul li{
  
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-bottom: 2px solid #DBFFF6 ;
}