body {
  font-family: 'Poppins';
  font-style: normal;
}
.search {
  background-color: #7ec8bb;
  font-family: 'Poppins';
  font-style: normal;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 10px;
}
.riwayat-btn {
  font-family: 'Poppins';
  font-style: normal;
  color: #696969;
  background: #4becd4;
  border-radius: 20px;
}


input {
  display: flex;
  background: #7ec8bb;
  font-family: 'Poppins';
  font-style: normal;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 10px;
}
ul {padding:20px;font-family: 'Poppins';font: size 15px;}
li {display:inline;margin:10px;padding:0; }

ul a {padding:10px;text-decoration:none}

ul#berhasil a#menu-berhasil,
ul#pending a#menu-pending,
ul#ditolak a#menu-ditolak{
     color: #fcfdfd;
     background: #7ec8bb;
     flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 10px;
}

.title {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.05em;
  color: #000000;
}

.nav-item {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #000000;
}

.col-style {
  box-sizing: border-box;
  border-top: 1px solid #000000;
  margin: 10px 0;
}

.tr .col-style {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #000000;
}
.isi-style {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #000000;
}
.a {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #428b35;
}
.status-btn{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  gap: 10px;
  background: #33B128;
  border-radius: 20px;
  color: #ffffff;
  border: solid 0px;
}
.form-control-i{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  border-radius: 10px;
}
.status-btn1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  gap: 10px;
  background: #009D76;
  border-radius: 20px;
  color: #ffffff;
  border: solid 0px;
}
ul {padding:20px;font-family: 'Poppins';font: size 15px;}
li {display:inline;margin:10px;padding:0; }
ul a {padding:10px;text-decoration:none}
ul#diterima a#menu-diterima,
ul#pending a#menu-menunggu-verifikasi,
ul#ditolak1 a#menu-ditolak{
    color: #fcfdfd;
    background: #7ec8bb;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 10px;
}
.card-text-bg-dark{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 70;
  padding: 120px 0;
}
.card-img-overlay{
  position: absolute;
  width: 800px;
  height: 700px;
  left: 300px;
  top: 129px;
  margin: 0 auto;
  background: #fcfdfd; 
}
.card-title{
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.05em;
  color: #000000;
}
.isi-style1{
  font-family: 'Poppins';
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #000000;
}
